# Analyse / visualisation (Part 1)
numpy
matplotlib

# Images & augmentation (Part 2)
opencv-python
Pillow

# Transformations feuilles (Part 3)
plantcv
scikit-image>=0.21

# Classification (Part 4)
scikit-learn
tensorflow

# Norme 42 Python
flake8
